.website-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

.outer-container{
  display: grid;
  @include grid-template-columns-main;
  grid-row: 2/3;
}

.inner-container{
  display: grid;
  grid-column: content-start / content-end;
  column-gap: 6.4rem;
  grid-template-columns: 1fr 37rem;
  padding: 6rem 0;
  align-items: start;
  
  @include respond(largest){
    grid-template-columns: 1fr 30rem;
    column-gap: 4rem;
  }
  @include respond(large){
    grid-template-columns: 1fr 25rem;
  }
  @include respond(medium){
    grid-template-columns: 1fr;
    column-gap: 0;
    padding: 4rem 0;
  }
}

.page-content{
  grid-column: 1 / 2;
}

.page-sidebar{
  grid-column: 2 / 3;
  @include respond(medium){
    grid-column: 1 / 2;
  }
}

.page-content-full{
  grid-column: 1 / 3;
}