.footer-container {
  @include grid-template-columns-main;
  background-color: $color_lightest_grey;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  // border-top: 2px solid $color_medium_grey;
}

.footer-content {
  grid-column: content-start / content-end;
  grid-template-columns: 1fr 15rem 1fr;
  grid-template-rows: 15rem;
  display: grid;
  padding: 6.6rem 0;
  width: 100%;


  @include respond(medium){
    padding: 4.3rem 0;
    grid-template-columns: min-content minmax(50%,1fr);
    grid-template-rows: 11rem min-content;
    row-gap: 3rem;
  }

  &__left,
  &__right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between ;
    padding: 2rem 0;
    @include respond(medium){
      padding: 0;
    }
  }

  &__left{
    text-align: left;
    grid-column: 1 / 2;
    display: flex;
    align-items: flex-start;

    @include respond(medium){
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      text-align: right;
      align-items: flex-end;
    }
  }

  &__center{
    grid-column: 2 / 3;
    width: auto;
    
    @include respond(medium){
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-content: flex-start;
      display: flex;
      flex-shrink: 1;
      width: auto;
    }

    & img{
      width: auto;
      height: 100%;
      display: block;
    }
  }

  &__right{
    text-align: right;
    grid-column: 3 / 4;
    display: flex;
    align-items: flex-end;

    @include respond(medium){
      flex-direction: row;
      align-items: center;
      grid-column: 1 / 3;
      grid-row: 2 / 2;
      padding: 0;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &__text-block{
      display: block;
      @include respond(medium){
        order: 1;
        text-align: left;
      }
    }

    &__button-block{
      display: block;
      @include respond(medium){
        order: 2;
      }
    }
  }
  
  .footer-text{
    display: block;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-family: 'museo-sans';
    font-weight: 400;
    color: $color_dark_grey;
  
    @include respond(small){
      font-size: 1rem;
    }
    
    &:not(:last-child){
      margin-bottom: 0.8rem;
    }
  }
}

