.landing-header {
  display: grid;
  @include grid-template-columns-main;
  height: 100vh;
  font-family: 'museo';
  background-color: $color_lightest_grey;
  align-items: stretch;

  &__container{
    padding: 12.8rem 0;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 8rem;
    height: 100%;
    align-content: space-between;
    box-sizing: border-box;
    @include respond(large) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content ;
      row-gap: 5rem;
      padding: 8rem 0;
    } 
    @include respond(small) {
      row-gap: 3.2rem;
      padding: 6.4rem 0;
    }
  }

  &__image-container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;

    @include respond(large) {
      grid-row: 1 / 2;
      justify-self: center;
    } 

  }

  &__image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100rem 100rem 0 100rem;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    align-self: center;
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    @include respond(large) {
      grid-row: 2 / 3;
    } 
    &__main {
      flex: 1 0 70%;
      text-align: center;
      font-weight: 500;
      font-size: 5.6rem;
      color: $color_text;
      margin-bottom: 3.2rem;
      @include respond(medium) {
        font-size: 3.6rem;
        margin-bottom: 1.6rem;
      } 
      @include respond(small) {
        font-size: 2.6rem;
      } 
    }

    &__sub {
      flex: 1 0 40%;
      text-align: center;
      font-weight: 400;
      font-size: 2.4rem;
      color: $color_text;
      @include respond(medium) {
        font-size: 2.4rem;
      }
      @include respond(small) {
        font-size: 2rem;
      } 
    }

    &__button {
      margin-top: 8rem;
      flex: 1 0 100%;
      display: flex;
      justify-content: center;
      color: $color_lightest_grey;
      @include respond(medium) {
        margin-top: 6rem;
      }
      @include respond(small) {
        margin-top: 4rem;
      }
    }
  }
}

.common-header{
  display: grid;
  @include grid-template-columns-main;
  height: 18rem;
  font-family: 'museo';
  background-color: $color_main_2;
  align-items: stretch;
  padding-top: 6.5rem;
  @include respond(medium){
    height: 17rem;
  }
  @include respond(small){
    height: 12rem;
  }

  &__container{
      grid-column: 2 / 3;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  &__title{
      color: white;
      font-size: 4.2rem;
      font-weight: 300;
      margin-bottom: 0;
      @include respond(medium){
        font-size: 3.6rem;
      }
      @include respond(small){
        font-size: 2.4rem;
      }
  }
}

.article-header{
  box-sizing: border-box;
  display: grid;
  @include grid-template-columns-main;
  font-family: 'museo';
  align-items: stretch;
  padding-top: 10.5rem;
  @include respond(medium){
    min-height: 17rem;
  }
  @include respond(small){
    min-height: 12rem;
  }

  &__container{
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 43rem;
    @include respond(large){
      padding-right: 0;
    }
  }

  &__title{
      color: $color_main_2;
      font-size: 4.2rem;
      font-weight: 400;
      margin-bottom: 2rem;
      width: 100%;
      flex: 1 0 100%;
      @include respond(medium){
        font-size: 3.6rem;
      }
      @include respond(small){
        font-size: 2.4rem;
      }
  }

  &__subtitle{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.3rem;
    color: $color_dark_grey;
    text-transform: uppercase;
    font-family: $font-2;
    letter-spacing: 1px;
  }

  &__date{
    margin-right: 2rem;
  }

  &__breadcrumb{
    color: inherit;
    text-decoration: none;
  }
}