.notfound{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__title{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle{
        flex: 1 0 100%;
        text-align: center;
        font-size: 2rem;
        color: $color_dark_grey;

    }

    &__four{
        font-size: 38rem;
        font-weight: 100;
        color: $color_dark_grey;
        line-height: 1;
        @include respond(medium) {
            font-size: 28rem;
        } 
        @include respond(small) {
            font-size: 16rem;
        } 
    }

    &__zero{
        height: 27rem;
        width: 27rem;
        border-radius: 15rem;
        border: 1.5rem solid $color_dark_grey;
        box-sizing: border-box;
        margin: 0 1rem;
        background-size: cover;
        background-position: center;

        @include respond(medium) {
            height: 20rem;
            width: 20rem;
            border: 1.3rem solid $color_dark_grey;
        } 
        @include respond(small) {
            height: 11rem;
            width: 11rem;
            border: 0.7rem solid $color_dark_grey;
        } 
    }

    &__outer{
        background-color: $color_lightest_grey ;
        padding-top: 6.5rem;
    }
}