.post{
    &__featured{
        width: 100%;
        background-size: cover;
        background-position: center;
        padding-top: 65.25%;
        margin-bottom: 4rem;
    }
}

.archive{
    background-color: $color_lightest_grey;
}