// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 53.125em; //850px
$bp-small: 40.625em; //700px

@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media only screen and (max-width: $bp-small) {
      @content;
    }
  }
  @if $breakpoint == medium {
    @media only screen and (max-width: $bp-medium) {
      @content;
    }
  }
  @if $breakpoint == large {
    @media only screen and (max-width: $bp-large) {
      @content;
    }
  }
  @if $breakpoint == largest {
    @media only screen and (max-width: $bp-largest) {
      @content;
    }
  }
}
