body {
  font-family: $font-1;
  cursor: default;
  font-smooth: auto;
}

// .content-container{
  h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  h1{
    font-size: 6.2rem;
  }

  h2 {
    font-size: 5.6rem;
  }

  h3 {
    font-size: 4.2rem;
  }

  h4 {
    font-size: 3.6rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  h6 {
    // font-size: ;
  }

  p,
  li {
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-weight: 1.5;;
    font-family: $font-1;
    font-size: 1.8rem;
    color: $color_text;
  }

  ol, ul{
    margin-bottom: 2rem;
  }

  ul li{
    list-style-type: disc;
  }

  ol li{
    list-style-type: decimal;
  }

  li{
    margin-left: 1.8rem;
  }

  p{
    margin-bottom: 2rem;
  }

//   p {
//     text-align: justify;
//     margin-bottom: $margin-bottom-m;
//   }

//   ul {
//     list-style: disc;
//   }


  a,
  a:visited {
    color: $color_main_2;
    text-decoration: none;
  }

  a:hover{
    color: $color_main_2_selected;
  }


//   *::selection {
//     //color: $accent-color;
//     background-color: rgba($color_dark_grey, 0.2);
//   }
// }