// expander block for Q/A
.expander-block{
    width: 100%;
    margin-bottom: 3rem;
    border-bottom:1px solid $color_light_grey;

    &__heading{
        background-color: $color_light_grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.8rem 2.4rem;
        cursor: pointer;

        @include respond(small){
            padding: 1.2rem 2.4rem;
        }
    }

    &__title{
        font-size: 2.4rem;
        font-weight: 300;
        color: $color_text;
        margin-right: 2rem;
        @include respond(medium){
            font-size: 2rem;
        }
        @include respond(small){
            font-size: 1.6rem;
        }
    }

    &__button{
        flex-shrink: 0;
    }

    &__content{
        border-left:1px solid $color_light_grey;
        border-right:1px solid $color_light_grey;

        &__inner{
            padding: 2rem;
        }
    }


}

// search bar Block
.content-search-bar{
    width: 100%;
    margin-bottom: 5rem;

    &__title{
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 2rem;
        color: $color_dark_grey;
    }

    .search-form{
        width: 100%;
        display: flex;
        align-items: center;

        &__input{
            border-radius: 2px;
            background-color: $color_white;
            flex: 1 1 100%;
            border: none;
            color: $color_dark_grey;
            border-radius: 2px;
            height: 3.2rem;
            font-size: 1.4rem; 
            font-weight: 300; 
            padding: 0 1rem;
            &:focus{
                box-shadow: 0 0 1px 1px $color_medium_grey;
            }
        }

        &__button{
            flex: 1 1 auto;
            border: none;
            margin-left: 1.5rem;
            color: $color_white;
            border-radius: 2px;
            height: 3.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1.5rem;
            background-color: $color_main_2;
            font-family: 'museo-sans';
            cursor: pointer;   
            font-size: 1.4rem; 
            font-weight: 300; 
            transition: 0.1s;
            
            &:hover{
                background-color: $color_main_2_selected;
            }
        }
    }

}

.wp-block-pullquote{
    border-bottom: 1px solid $color_main_2;
    border-top: 1px solid $color_main_2;
    margin: 4rem 0;

    cite{
        text-transform: none;
        text-emphasis: none;
    }
}

figcaption{
    font-size: 1.4rem;
    font-family: $font-1;
    color: $color_dark_grey;
    letter-spacing: 1px;
    font-weight: 300;
}

.wp-block-quote{
    padding-left: 4rem;
    border-left: 1px solid $color_main_2;
    margin:2rem 0;
}

.wp-block-table{
    margin: 2rem 0;
    scroll-behavior: none;
    background-color: $color_lightest_grey;
    font-size: 1.8rem;
    color: $color_text;
    font-weight: 300;

    tr:nth-child(odd){
        background-color: $color_light_grey;
    }

    td{
        padding: 1rem;
    }
}

.wp-block-verse{
    font-size: 1.8rem;
    color: $color_text;
    font-style: italic;
    margin: 2rem 0;
    line-height: 1.5;
    font-weight: 300;
}

.wp-block-cover{
    margin-bottom: 3rem;
}

.wp-block-media-text{
    margin-bottom: 3rem;
    &__media{
        margin: 2rem 0;
        img{
            width: 100%;
            height: auto;
        }
    }
}

.wp-block-social-link-anchor{
    background-color: $color_medium_grey;
    border-radius: 5px;
    &:hover{
        background-color: $color_main_2;
    }
}

.wp-block-gallery{
    margin-bottom: 1rem;
    .blocks-gallery-caption{
        margin-bottom: 2rem;
    }
}

.wp-block-image{
    img{
        width: 100%;
        object-fit: contain; 
    }
}

.wp-block-embed{
    margin-bottom: 3rem;
}

.wp-block-separator{
    border-bottom: none;
    border-top: 2px solid $color_main_1_light;
    max-width: 30rem;
    margin: 3rem auto;
}