.breadcrumbs a{
    color: $color_dark_grey;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.3rem;
    letter-spacing: 0.03rem;
    font-family: 'museo-sans';
    font-weight: 500;
    text-decoration: none;

    &:hover{
        color: $color_main_2;
    }
}