.button-round{
    border: none;
    box-shadow: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1; 
    cursor: pointer;
    
    .fa-chevron-up{
        transform: translateY(-1px);
    }
    .fa-chevron-down{
        transform: translateY(1px);
    }
    .fa-chevron-left{
        transform: translateX(-1px);
    }
    .fa-chevron-right{
        transform: translateX(1px);
    }

    &.big{
        font-size: 2rem;
        width: 5.2rem;
        height: 5.2rem;
    }

    &.small{
        font-size: 1.4em;
        width: 4rem;
        height: 4rem;
    }

    &:disabled {
        background-color:  $color_lightest_grey;
        color: $color_dark_grey;
    }
    &:not(:disabled):hover{
        background-color:  $color_main_2;
        & .fas{
            color: $color_lightest_grey;
        }
    }
    &:not(:disabled):active{
        background-color:  $color_main_2_selected;
    }
}

.button-underlined{
    text-transform: uppercase;
    font-family: $font-2;
    color: $color_dark_grey;
    border: none;
    border-bottom: 1px solid $color_main_2;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    padding: 0 0 0.2rem 0;
    transition: 0.1s;
    cursor: pointer;

    &:hover{
        color: $color_main_2;
    }
}

.button-standard{
    list-style: none;
    text-decoration: none;
    padding: 0.7rem 1.4rem;
    color: $color_dark_grey;
    background-color: transparent;
    border-radius: 0.3rem;
    border: 1px solid $color_dark_grey;
    letter-spacing: 0.3px;
    font-family: 'museo-sans';
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.1s;
    text-align: center;
    white-space: nowrap;
    
    // Sizes - pick one
    &.small{
        font-size: 1.3rem; 
        font-weight: 500;   
        padding: 1.5rem 2.4rem;    
    }

    &.big{
        font-size: 1.8rem;  
        font-weight: 400;   
        padding: 1.5rem 2.4rem;   
        min-width: 24rem;
    }

    // Colors - pick one
    &.transparent{
        background-color: transparent;
        border: 1px solid $color_dark_grey;
        color: $color_dark_grey;
        &:hover{
            background-color: $color_main_2;
            border: 1px solid  $color_main_2;
            color: $color_white;
        }
    }

    &.transparent-white{
        background-color: transparent;
        border: 1px solid $color_lightest_grey;
        color:  $color_lightest_grey;
        &:hover{
            background-color:  $color_lightest_grey;
            border: 1px solid transparent;
            color: $color_main_2_selected;
        }
    }

    &.color-2{
        background-color: $color_main_2;
        border: none;
        color: $color_white;
    }

    &.white{
        background-color: $color_white;
        border: none;
        color: $color_dark_grey;  
        &:hover{
            color: $color_main_2;
        }      
    }
}

.button-cta {
    list-style: none;
    text-decoration: none;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    letter-spacing: 0.03rem;
    font-family: 'museo-sans';
    cursor: pointer;   
    font-size: 1.4rem; 
    font-weight: 300;   
    border: none;
    color: $color_white;
    transition: 0.1s;
    border: $color_main_2 1px solid;
    
    &--1{
        background-color: $color_main_2;
    }

    &--2{
        background-color: transparent;
        color: $color_dark_grey;
        box-sizing: border-box;
    }

    &:hover{
        background-color: $color_main_2_selected;
        color: $color_white;
        border: $color_main_2_selected 1px solid;
    }
}
