// basic article card for displaying multiples 
.article-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 28rem;
    background-color: $color_white;

    &__image-block{
        grid-row: 1 / 2;
        object-fit: cover;
        background-size: cover;
        background-position: center;
    }

    &__text-block{
        // border: 1px solid $color_medium_grey;
        border-top: none;
        grid-row: 2 / 3;
        padding: 4.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        align-self: stretch;
        @include respond(large){
            padding: 4rem;
        }
        @include respond(small){
            padding: 2.4rem;
        }
    }

    &__title{
        color: $color_main_2;
        margin-bottom: 3.2rem;
        a{
            text-decoration: none;
            color: inherit;
        }
    }

    &__excerpt{
        margin-bottom: 4.8rem;
    }

    &__read-more-button{
        margin-top: auto;
        text-decoration: none;
    }

    .breadcrumbs{
        margin-bottom: 0.8rem;
    }
}

// Article card full width
.article-card-wide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $color_white;

    &__image-block{
        grid-column: 1 / 2;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        padding-top: 65%;
    }

    &__text-block{
        // border: 1px solid $color_medium_grey;
        border-left: none;
        grid-column: 2 / 3;
        padding: 4.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
    }

    &__title{
        color: $color_main_2;
        margin-bottom: 5rem;
        a{
            text-decoration: none;
            color: inherit;
        }
    }

    &__excerpt{
        margin-bottom: 4.8rem;
    }

    &__read-more-button{
        margin-top: auto;
        text-decoration: none;
    }
    
    .breadcrumbs{
        margin-bottom: 0.8rem;
    }
}

// Article card full width
.article-card-archive{
    display: grid;
    grid-template-columns: minmax(35rem,1fr) 2fr;
    background-color: $color_white;
    &:not(:last-child){
        margin-bottom: 4rem;
    }
    
    @include respond(medium){
        grid-template-columns: 1fr ;
    }

    &__image-block{
        grid-column: 1 / 2;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        padding-bottom: 62.5%;
        background-color: $color-main-1_faded;
        @include respond(medium){
            grid-column: 1 / 2;
        }
    }

    &__text-block{
        border-left: none;
        grid-column: 2 / 3;
        padding: 4.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        @include respond(medium){
            grid-column: 1 / 2;
            border: none;
        }
        @include respond(small){
            padding: 2.4rem;
        }
    }

    &__title{
        color: $color_main_2;
        margin-bottom: 2rem;
        font-size: 3.6rem;
        a{
            text-decoration: none;
            color: inherit;
        }
        @include respond(small){
            font-size: 2.4rem;
            margin-bottom: 1.6rem;
        }
    }

    &__excerpt{
        margin-bottom: 2rem;
    }

    &__read-more-button{
        margin-top: auto;
        text-decoration: none;
    }
    
    .breadcrumbs{
        margin-bottom: 0.8rem;
    }
}

// fancy card with SVG icon encapsulated in circle with some text adn cta button
.support-card{

    position: relative;
    margin-top: 13rem;
    padding: (13rem + 4rem) 4rem 5.5rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.1s;
    background-color: $color-white;

    @include respond(largest){
        margin-left: 12rem;
        margin-top: 0;
        padding:  4.5rem 5.5rem 4.5rem (12rem + 4rem);
        min-height: 25rem;
    }

    @include respond(medium){
        min-height: 0;
        margin-left: 0;
        margin-top: 12rem;
        padding: (12rem + 3rem) 3rem 4.5rem 3rem;
    }


    &__circle{
        // border: 2px solid $color_main_2;
        border-radius: 300px;
        position: absolute;
        width: 26rem;
        height: 26rem;
        top: 0;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: $color_main_2;
        z-index: 40;

        @include respond(largest){
            transform: translate(-50%,-50%);
            top: 50%;
            left: 0%;
        }

        @include respond(medium){
            top: 0;
            left:50%;
            transform: translate(-50%,-50%);
            width: 22rem;
            height: 22rem;
        }

        & img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 10rem;
            color: $color_dark_grey;
            width: 60%;
        }
    }

    &__title{
        color: $color_main_2;
        margin-bottom: 1.6rem;
        font-size: 3.6rem;
    }

    &__text{
        margin-bottom: 6rem;
        text-align: center;
    }

    &__button{
        margin-top: auto;
    }

    &__title-2{
        color: $color_text;
        margin-bottom: 1.6rem;
        font-weight: 400;
        font-size: 2.4rem;
        width: 100%;
        text-align: left;    
    }

    &__list{
        width: 100%;
        text-align: left;
        margin-bottom: 0;
    }

    &__list-item{
        color: $color_text;
        font-size: 1.8rem;
    }

}

// Flipping cards
.flippy-card {
    width: 36rem;
    height: 43.5rem;
    margin-bottom:3rem;
    margin-top:3rem;
    flex-shrink: 0;
    box-sizing: border-box;
    cursor: pointer; 
    position: relative;
    perspective: 150rem;

    @include respond(medium) {
        width: 30rem;
        height: 36.25rem;
    } 

    &__image {
        height: 26.3rem;
        width: 26.3rem;
        border-radius: 200px 200px 200px 0;
        margin-bottom: 2.4rem;
        object-fit: cover;
        object-position: center;
        @include respond(medium) {
            height: 21.9rem;
            width: 21.9rem;
            margin-bottom: 2.2rem;
        } 
    }

    &__title,
    &__subtitle{
        @include respond(medium) {
            font-size: 2rem;
        } 
    }

    &__title {
        margin-bottom: 0;
        color: $color-text;
    }

    &__subtitle {
        font-weight: 300;
        color: $color-text;
    }

    &__list{
        margin-top: 2rem;
        margin-bottom: 0;
        @include respond(medium) {
            margin-top: 2.8rem;
        } 
    }

    &__list-item{
        margin-left: 0;
        list-style-type: none;
        &::before{
            content: "• ";
            color: $color_main_2;
        }
    }

    &.flipped &__front{
        background-color: $color-main-1_faded;
        transform: rotateY(-180deg);
    }

    &.flipped &__back{
        background-color: $color-main-1_faded;
        transform: rotateY(0);
    }

    &__front,
    &__back,
    &__single{
        perspective: 150rem;
        padding: 4.8rem;
        border-radius: 2.5rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        transition: transform 0.5s, background-color 0.1s;
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        backface-visibility: hidden;
        @include respond(medium) {
            padding: 4rem;
            border-radius: 2rem;
        } 
    }

    &__front,
    &__back{
        background-color: $color-white;
        &:hover{
            background-color: $color-main-1_faded;
        }
    }

    &__back{
        transform: rotateY(180deg);
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &__button{
            margin-top: auto;
        }
    }

    &__single{
        
        background-color: $color_main_2_selected;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        justify-items: center;

        &__image{
            margin: auto;
            flex-shrink: 1;
            display: block;
            height: 100%;
            width: auto;
        }

        &__title{
            margin-top: 2rem;
            margin-bottom: 0;
            color: $color_white;
            text-align: center;
            @include respond(medium) {
                font-size: 2rem;
            } 
        }

        &__button{
            margin-top: 3.2rem;
            width: 17rem;
        }
    }
}

