.main-nav {
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 51;
    position: fixed;
    transition: 0.2s;
    height: 6.4rem;

    &.scrolled {
        height: 5.5rem;
    }

    &__outer-container{
        @include grid-template-columns-main;
        // border-bottom: 1px solid $color_medium_grey;
        background-color: $color_lightest_grey;
        z-index: 51;
        display: grid;
        width: 100%;
        height: 100%;
    }

    &__container{
        height: 100%;
        grid-column: 2/3;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        display: flex;
        position: relative;
        z-index: 51;
        background-color: $color_lightest_grey;
        // border-bottom: 1px solid $color_medium_grey;

    }

    &__title {
        font-size: 2.8rem;
        letter-spacing: 0.03rem;
        font-weight: 200;
        color: $color_dark_grey;
        display: flex;
        align-items: center;
        a{
            color: inherit;
            text-decoration: none;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        @include respond(largest){
            display: none;
        }

        .button-cta{
            margin-left: 1.5rem;
        }

        .menu-header-menu-container{
            align-self: stretch;
            display: flex;
            justify-content: stretch;
        }

        .menu {
            display: flex;
            align-items: stretch;
            margin-bottom: 0;
        }

        .social-icons {
            margin-left: 1rem;

            a {
                color: $color_dark_grey;
                font-size: inherit;
                padding: 0.5rem;
                font-size: 1.4rem;

                &:hover{
                    color: $color_main_2_selected;
                }
            }
        }
        
        .menu-item {
            display: flex;
            align-items: center;
            position: relative;
            color: $color_dark_grey;
            font-family: $font-1;
            font-size: 1.4rem;
            font-weight: 300;
            margin-left: 0;

            & a {
                letter-spacing: 0.1rem;
                list-style: none;
                text-decoration: none;
                padding: 1rem;
                color: inherit;
                display: block;
                transition: 0.1s;
                &:hover{
                    color: $color_main_2;
                }
                &:active{
                    color: $color_main_2_selected;
                }
            }
        }

        // .menu-item-has-children{
        //     padding-right: 2rem;
        //     &::after {
        //         display: block;
        //         position: absolute;
        //         right: 2rem;
        //         top: 50%;
        //         font-size: 1.4rem;
        //         font-style: normal;
        //         font-variant: normal;
        //         text-rendering: auto;
        //         -webkit-font-smoothing: antialiased;
        //         font-family: "Font Awesome 5 Free";
        //         font-weight: 900;
        //         color: inherit;
        //         transform: translateY(-50%);
        //         cursor: pointer;
        //         content: "\f107";
        //     }
        //     &:hover{
        //         color: $color_main_2;
        //         &::after {
        //             color: $color_main_2;
        //         }
                
        //     }
        //     &:active{
        //         color: $color_main_2_selected;
        //         &::after {
        //             color: $color_main_2_selected;
        //         }
        //     }
        // }

        // General sub menu styles
        // .sub-menu {
        //     display: none;
        //     flex-wrap: wrap;
        //     position: absolute;
        //     justify-content: stretch;
        //     width: 23rem;
        //     height: auto;
        //     opacity: 0;
        //     transition: 0.1s;
        //     border-top: 1px solid $color_dark_grey;
        //     padding: 0.75rem 0;
        //     background-color: $color_light_grey;
        //     bottom: 0;
        //     right: 50%;
        //     transform: translate(50%,100%);
        //     & .menu-item {
        //         flex-grow: 1;
        //         display: block;

        //         a {
        //             display: block;
        //             padding: 0.75rem 1.5rem;
        //         }
        //     }
        // }

        // // 1st level sub menu styles
        // .menu > .menu-item-has-children{
        //     &::after{
        //         content: "\f107";
        //     }
        //     & > .sub-menu {
        //         bottom: -1rem;
        //         transform: translateY(100%);
        //         z-index: 100;
        //         // 2+ level sub menu styles
        //         & .menu-item-has-children{
        //             &::after{
        //                 content: "\f105";
        //             }
        //             .sub-menu {
        //                 top: 0;
        //                 right: 0;
        //                 transform: translateX(100%);
        //             }
        //         }
        //     }
        // }
    }

    &__button{
        height: 30px;
        width: 30px;
        position: relative;
        cursor: pointer;
        display: none;

        @include respond(largest){
            display: block;
        }

        &__middle-bar{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: block;
            height: 2px;
            width: 25px;
            background-color: $color_dark_grey;
            transition: 0.1s;

            &::before,
            &::after{
                content: "";
                height: 2px;
                display: block;
                width: 25px;
                background-color: $color_dark_grey;
                position: absolute;
                transition: 0.1s;
            }

            &::before{
                transform: translateY(-8px);
            }

            &::after{
                transform: translateY(8px);
            }

            &.active{
                background-color: transparent;

                &::before{
                    transform: translateY(0px) rotate(135deg);
                }
    
                &::after{
                    transform: translateY(0px) rotate(-135deg);
                }
            }

        }

    }

    &__mobile-menu{
        @include grid-template-columns-main;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $color_lightest_grey;
        display: none;
        transition: 0.2s;
        transform: translateY(-100%);
        z-index: -20;
        opacity: 0.99;

        @include respond(largest){
            display: grid;
        }

        &.active{
            transform: translateY(0);
        }

        .menu-menu-1-container{
            width: 100%;
        }

        &__container{
            grid-column: 2 / 3;
            display: grid;
            grid-auto-rows: minmax(5rem,max-content);
            align-items: center;
            justify-items: start;
        }

        .menu-header-menu-container{
            align-self: stretch;
            display: flex;
            justify-content: stretch;
        }

        .menu {
            display: grid;
            grid-auto-rows: 5rem;
            align-items: center;
            margin-bottom: 0;
        }

        .menu-item {
            display: flex;
            align-items: center;
            position: relative;
            color: $color_dark_grey;
            font-family: $font-1;
            font-size: 1.6rem;
            font-weight: 300;
            height: 100%;
            margin-left: 0;

            & a {
                letter-spacing: 0.1rem;
                list-style: none;
                text-decoration: none;
                padding: 0;
                color: inherit;
                display: block;
                transition: 0.1s;
                height: 100%;
                line-height: 5rem;

                &:hover{
                    color: $color_main_2;
                }
                &:active{
                    color: $color_main_2_selected;
                }
            }
        }

        .social-icons {
            &__list{
                margin-bottom: 0;
            }
            a {
                color: $color_dark_grey;
                font-size: inherit;
                font-size: 1.8rem;
                margin-right: 3rem;
                &:hover{
                    color: $color_main_2_selected;
                }
            }
        }
        
        &__search{
            display: flex;
            justify-content: stretch;
            align-items: center;
            align-content: center;
            width: 100%;

            &__input{
                height: 2.4rem;
                background-color: $color_white;
                border-radius: 2px;
                border: none;
                flex-grow: 1;
                margin-right: 2rem;
                padding-left: 1rem;
                font-size: 1.4rem;
                font-weight: 300;
                color: $color_text;
                &:focus{
                    box-shadow: 0 0 1px 1px $color_medium_grey;
                }
            }

            &__button{
                border: none;
                background-color: transparent;
                padding: 0;
                flex-grow: 0;
                cursor: pointer;

                i{
                    color: $color_dark_grey;
                    font-size: inherit;
                    font-size: 2rem;
                    &:hover{
                        color: $color_main_2;
                    }
                    &:active{
                        color: $color_main_2_selected
                    }
                }
            }
        }
    }

    &__search-bar{
        @include grid-template-columns-main;
        position: absolute;
        top: calc(100%);
        left: 0;
        background-color: $color_lightest_grey;
        display: grid;
        transition: 0.2s;
        transform: translateY(-100%);
        z-index: -20;
        opacity: 0.99;
        width: 100%;

        @include respond(largest){
            display: none;
        }


        &__container{
            grid-column: 2 / 3;
            display: block;
            grid-auto-rows: minmax(5rem,max-content);
            align-items: center;
            justify-items: start;
        }

        &.active{
            transform: translateY(0);
        }

        .search-form{
            width: 100%;
            display: flex;
            height: 6rem;
            align-items: center;
        

            &__input{
                border-radius: 2px;
                background-color: $color_white;
                flex: 1 1 100%;
                border: none;
                color: $color_dark_grey;
                border-radius: 2px;
                height: 3.2rem;
                font-size: 1.4rem; 
                font-weight: 300; 
                padding: 0 1rem;
                &:focus{
                    box-shadow: 0 0 1px 1px $color_medium_grey;
                }
            }

            &__button{
                flex: 1 1 auto;
                border: none;
                margin-left: 2rem;
                color: $color_white;
                border-radius: 2px;
                height: 3.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 1.5rem;
                background-color: $color_main_2;
                font-family: 'museo-sans';
                cursor: pointer;   
                font-size: 1.4rem; 
                font-weight: 300; 
                transition: 0.1s;
                
                &:hover{
                    background-color: $color_main_2_selected;
                }
            }
        }
    }
}