.pagination{
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    .nav-links{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: auto;

        a{
            text-decoration: none;
        }

        .page-numbers{
            margin: 0 0.8rem;

            &:not(.next):not(.prev){
                font-size: 2rem;
            }

            &:not(.next):not(.prev):not(.current){
                color: $color_light_grey;
            }

            &:not(.next):not(.prev):not(.current):not(.dots){
                &:hover{
                    color: $color_main_2;
                }
                cursor: pointer;
            }

            &.current{
                color: $color_dark_grey;
            }

            &.prev,
            &.next{
                position: absolute;
            }

            &.prev{
                left:0;
                top: 50%;
                transform: translate(-140%,-50%);
            }

            &.next{
                right:0;
                top: 50%;
                transform: translate(140%,-50%);
            }
        }
    
    }
}