.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    box-sizing: border-box;
    display: none;
    opacity: 0;
    transition: 0.1s;

    &.active{
        display: block;
    }

    &__box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-self: center;
        background-color: $color_main_2;
        padding: 10rem;
        box-sizing: border-box;

        @include respond(medium){
            width: 80%;
            padding: 5rem;
        }
        @include respond(small){
            width: 85%;
            padding: 3rem;
        }
    }

    &__title{
        font-size: 4.2rem;
        color: $color_white;
        margin-bottom: 3rem;
        font-weight: 400;
        @include respond(medium){
            font-size: 3.6rem;
        }
    }

    &__text{
        font-size: 1.7rem;
        color: $color_white;
        margin-bottom: 5rem;
        font-weight: 300;
        line-height: 1.4;
    }

    &__close-button{
        position: absolute;
        top: 2rem;
        right: 2rem;
        border-radius: 10rem;
        background-color: $color_lightest_grey;
        width: 3rem;
        height: 3rem;
        color: $color_dark_grey;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover{
            color: $color_main_2_selected;
        }
        @include respond(small){
            top: 1rem;
            right: 1rem;
        }
    }

    &__buttons{
        display: flex;
        justify-content: center;
        width: 100%;
        @include respond(small){
            flex-direction: column;
            align-items: center;
        }
    }

    &__button{
        padding: 1.5rem 2rem;
        height: 6.4rem;
        border-radius: 10rem;
        background-color: $color_lightest_grey;
        font-size: 3.6rem;
        color: $color_dark_grey;
        font-weight: 400;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s;
        &:hover{
            background-color: $color_main_1_faded;
        }
        &:not(:last-child){
            margin-right: 2rem;
        }

        @include respond(medium){
            font-size: 2.8rem;
            height: 5rem;
        }

        @include respond(small){
            padding: 1rem 2rem;
            font-size: 2.8rem;
            &:not(:last-child){
                margin-bottom: 2rem;
                margin-right: 0rem;
            }
        }

        & img{
            height: 100%;
        }
    }
}