.page-sidebar{
  padding: 4rem;
  background-color: $color_lightest_grey;
  
  @include respond(large){
    padding: 2rem;
  }
  @include respond(medium){
    padding: 4rem;
  }
  @include respond(small){
    padding: 2rem;
  }
  
  .widget{
    list-style: none;
    margin-left: 0;
  }
  // Gallery widget
  .gallery{
    display: grid;
    flex-wrap: wrap;

    &-columns-1 {

    }
    &-columns-2 {

    }
    &-columns-2 {

    }
    .gallery-item{

    }
  }

  // Search widget
  .search-form{
    justify-content: stretch;
    display: flex;

    &__input{
      flex: 1 1 100%;
      box-sizing: border-box;
      height: 3rem;
      border: 1px solid $color_dark_grey;
      padding: 0.5rem;
    }

    &__button{
      flex: 1 0;
      box-sizing: border-box;
      height: 3rem;
      background-color: $color_dark_grey;
      border: none;
      color: white;
      font-weight: 600;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.5s;

      &:hover{
        opacity: 0.8;
      }
    }
  }
}