.widget{
    margin-bottom: 0rem;

    &__logo{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        display: block;
    }

    &__subtitle{
        color: $color_main_2;
        margin-bottom: 2rem;
        font-weight: 400;
    }

    &__button{
        list-style: none;
        text-decoration: none;
        padding: 0.7rem 1.4rem;
        color: $color_dark_grey;
        background-color: transparent;
        border-radius: 0.3rem;
        border: 1px solid $color_dark_grey;
        letter-spacing: 0.3px;
        font-family: 'museo-sans';
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.1s;
        text-align: center;
        white-space: nowrap;
        width: 100%;
        display: block;
        box-sizing: border-box;
        font-size: 1.3rem;

        &:not(:last-child){
            margin-bottom: 2rem;
        }

        &:hover{
            background-color: $color_main_2;
            border: 1px solid  $color_main_2;
            color: $color_white;
        }
    }
}