
// Primary colors
$color_main_1 : #FAAA66; // Doe Brown
$color_main_1_light : #F0AE75; // Doe Brown
$color_main_1_faded : #FFE7D0; // Faded Doe Brown
$color_main_2 : #D17E4B; // Stag Brown
$color_main_2_selected : #BB6530; // Stag brown – selected
$color_main_3 : #648555; // Forest green
$color_main_3_faded : #E1ECDB; // Faded Forest green
$color_dark_grey : #565656; // Dark grey
$color_medium_grey : #C4C4C4; // medium grey
$color_light_grey : #E3E3E3; // Light grey
$color_lightest_grey : #F2F3F3; // Lightest grey
$color_white : white; // Pure white
$color_text : #242424;


// $color-heading-text: white;
// $primary-color-dark:   #616161;
// $primary-color:        #9E9E9E;
// $primary-color-light:  #F5F5F5;
// $primary-color-text:   #212121;
// $accent-color:         rgb(103, 177, 63);
// $accent-dark-color:    rgb(74, 118, 50);
// $accent-light-color:    rgb(124, 182, 93);
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;
// $dark-background:      #212121;

