// background color helper classes
.bc-main-1 {background-color: $color_main_1 ;}
.bc-main-1-faded {background-color: $color_main_1_faded ;}
.bc-main-2 {background-color: $color_main_2 ;}
.bc-main-3 {background-color: $color_main_3 ;}
.bc-main-3-faded {background-color: $color_main_3_faded ;}
.bc-dark-grey {background-color: $color_dark_grey ;}
.bc-light-grey {background-color: $color_light_grey ;}
.bc-lightest-grey {background-color: $color_lightest_grey ;}
.bc-white {background-color: $color_white ;}

// text color helper clases
.tc-main-1 {color: $color_main_1 ;}
.tc-main-1-faded {color: $color_main_1_faded ;}
.tc-main-2 {color: $color_main_2 ;}
.tc-main-3 {color: $color_main_3 ;}
.tc-main-3-faded {color: $color_main_3_faded ;}
.tc-dark-grey {color: $color_dark_grey ;}
.tc-light-grey {color: $color_light_grey ;}
.tc-lightest-grey {color: $color_lightest_grey ;}
.tc-white {color: $color_white ;}

// line break for flexbox
.break {
    flex-basis: 100%;
    height: 0;
  }