@mixin grid-template-columns-main(){
    grid-template-columns : [full-start] minmax(6rem, 1fr) [content-start] minmax(min-content,130rem) [content-end] minmax(6rem, 1fr) [full-end] ;
    @include respond(medium) {
        grid-template-columns : [full-start] minmax(4rem, 1fr) [content-start] minmax(min-content,130rem) [content-end] minmax(4rem, 1fr) [full-end] ;
    }
    @include respond(small) {
        grid-template-columns : [full-start] minmax(2.5rem, 1fr) [content-start] minmax(min-content,130rem) [content-end] minmax(2.5rem, 1fr) [full-end] ;
    }
}

@mixin standard-section-padding(){
    padding: 12.8rem 0;
    @include respond(medium){
        padding: 8rem 0;
    }
    @include respond(small){
        padding: 6.4rem 0;
    }
}