html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%;

  // @include respond(largest) {
  //   font-size: 56.25%; //1 rem = 9px;
  // }

  // @include respond(large) {
  //   font-size: 50%; //1 rem = 8px;
  // }

  // @include respond(medium) {
  //   font-size: 43.75%; //1 rem = 7px;
  // }

}

.website-container{
  position: relative;
}
