.section-about{
    grid-column: 1 / 4 ;
    display: grid;
    @include grid-template-columns-main;
    background-color: $color_white;

    &__container{
        @include standard-section-padding;
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 50% 50%;
        @include respond(large){
            grid-template-columns: 1fr ;
            grid-row-gap: 4rem;
        }
    }

    &__image-block{
        width: 100%;
        background-position: center;
        background-size: cover;
        @include respond(large){
            grid-template-columns: 1fr ;
            padding-bottom: 67%;
        }
    }

    &__text-block{
        padding: 7rem 0 7rem 7rem;
        box-sizing: border-box;
        @include respond(largest){
            padding: 4rem 0 4rem 4rem;
        }
        @include respond(large){
            padding: 0;
        }
    }

    &__title{
        margin-bottom: 4.4rem;
        color: $color_main_2;
        @include respond(medium){
            font-size: 3.6rem;
            margin-bottom: 3rem;
        }
        @include respond(small){
            font-size: 2.4rem;
        }
    }

    &__text{
        margin-bottom: 6.4rem;
    }

    &__buttons-heading{
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.6rem;
        color: $color_main_2;
    }

    &__buttons-container{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        column-gap: 3.6rem;
        row-gap: 1.6rem;
        @include respond(medium){
            grid-template-columns: min-content;
        }
    }
}