.section-bubbles{
    display: grid;
    grid-column: 2 / 3 ;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    @include standard-section-padding;
    
    @include respond(large) {
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        position: relative;
    }

    &__bubble{
        @include respond(large) {
            display: flex;
            &:not(:last-child){
                margin-bottom: 4rem;
            }
        }

        &__picture-box{
            display: flex;
            justify-content: center;
            @include respond(large) {
                margin-bottom: 0;
                margin-right: 4rem;
            }    
        }

        &__picture{
            height: 26rem;
            width: 26rem;
            border-radius: 100%;
            overflow: hidden;
            margin: 0 auto 4.8rem auto;
            object-fit: cover;
            flex-shrink: 0;
            justify-self: center;
            display: block;

            @include respond(large) {
                height: 22rem;
                width: 22rem;
                margin-bottom: 0;
                margin-right: 4rem;
            } 
            @include respond(small) {
                height: 12rem;
                width: 12rem;
                margin-right: 2.4rem;
            } 
        }

        &__text-box{
            text-align: center;
            max-width: auto;
            @include respond(large) {
                text-align: left;
                max-width: 100rem;
            } 
        }

        &__title{
            font-size: 3.6rem;
            color: $color-main-2;
            font-weight: 400;
            margin-bottom: 1.6rem;
            @include respond(small) {
                font-size: 2.4rem;
            } 
        }

        &__text{
            margin-bottom: 0;
        }
    }
}