.section-carousel{
    grid-column: 1 / 4;
    background-color: $color_main_2;
    display: grid;
    @include grid-template-columns-main;

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include standard-section-padding;
        grid-column: 2 / 3;
    }

    &__supertitle{
        color: $color_white;
        margin-bottom: 4rem;
    }

    &__dots{
        display: flex;
    }

    & .carousel-dot{
        display: block;
        background-color: $color_lightest_grey;
        border-radius: 20px;
        height: 1.2rem;
        width: 1.1rem;
        cursor: pointer;
        transition: 0.2s;

        &:not(:last-child){
            margin-right: 2.4rem;
        }
        &:hover{
            background-color: $color_dark_grey;
        }

        &.active{
            cursor: context-menu;
            background-color: $color_dark_grey;
        }
    }

    &__slides{
        position: relative;
        width: 100%;
        height: 30rem;
        max-width: 80%;
        @include respond(medium){
            max-width: 100%;
            height: 25rem;
        }
    }
    
    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $color_white;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        @include respond(medium){
            font-size: 4.2rem;
        }
        @include respond(small){
            font-size: 3.6rem;
        }
        
        &.active{
            opacity: 1;
            display: block;
            visibility: visible;
        }
    }

}