.section-contacts-small{
    grid-column: 1 / 4;
    background-color: $color_main_2;
    display: grid;
    @include grid-template-columns-main;

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include standard-section-padding;
        grid-column: 2 / 3;
    }

    &__title{
        font-size: 3.6rem;
        font-weight: 400;
        color: $color_white;
        margin-bottom: 3.5rem;
        @include respond(small){
            font-size: 2.4rem;
        }
    }

    &__buttons{
        display: grid;
        max-width: 600px;
        grid-template-columns: 1fr 1fr;
        column-gap: 3.6rem;
        row-gap: 1.6rem;
        @include respond(small){
            grid-template-columns: 1fr;
        }
    }
}