.section-pay{
    grid-column: 1 / 4;
    background-color: $color_main_2;
    display: grid;
    @include grid-template-columns-main;

    &__container{
        display: flex;
        max-width: 63rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include standard-section-padding;
        grid-column: 2 / 3;
        justify-self: center;

    }

    &__title{
        font-size: 4.2rem;
        color: $color_white;
        margin-bottom: 3rem;
        font-weight: 400;
        @include respond(medium){
            font-size: 3.6rem;
        }
    }

    &__text{
        font-size: 1.7rem;
        color: $color_white;
        margin-bottom: 5rem;
        font-weight: 300;
        line-height: 1.4;
    }


    &__buttons{
        display: flex;
        justify-content: center;
        width: 100%;
        @include respond(small){
            flex-direction: column;
            align-items: center;
        }
    }

    &__button{
        padding: 1.5rem 2rem;
        height: 6.4rem;
        border-radius: 10rem;
        background-color: $color_lightest_grey;
        font-size: 3.6rem;
        color: $color_dark_grey;
        font-weight: 400;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.1s;
        &:hover{
            background-color: $color_main_1_faded;
        }
        &:not(:last-child){
            margin-right: 2rem;
        }

        @include respond(medium){
            padding: 1rem 2rem;
            font-size: 2.8rem;
            height: 5rem;
        }

        @include respond(small){
            font-size: 2.8rem;
            &:not(:last-child){
                margin-bottom: 2rem;
                margin-right: 0rem;
            }
        }

        & img{
            height: 100%;
        }
    }
}