.section-volunteering{
    grid-column: 1 / 4 ;
    display: grid;
    @include grid-template-columns-main;
    background-color: $color_white;

    &__container{
        @include standard-section-padding;
        grid-column: 2 / 3;

    }

    &__title{
        color: $color_text;
        font-size: 4.2rem;
        margin-bottom: 6.5rem;
        @include respond(small){
            font-size: 2.4rem;
        }
    }

    &__block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
        margin-bottom: 4rem;
        @include respond(medium){
            grid-template-columns: 1fr;
            margin-bottom: 6.4rem;
        }
        @include respond(small){
            margin-bottom: 4rem;
        }

        &__left{
            width: 100%;
            padding-bottom: 65%;
            background-size: cover;
            background-position: center;
            @include respond(medium){
                margin-bottom: 4rem;
            }
        }

        &__title{
            font-size: 3.6rem;
            color: $color_main_2;
            margin-bottom: 2.4rem;
            @include respond(small){
                font-size: 2.4rem;
            }
        }
    }

    
}