.section-news {
  grid-column: 1 / 4;
  background-color: $color_lightest_grey;
  display: grid;
  @include grid-template-columns-main;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include standard-section-padding;
    grid-column: 2 / 3;
  }

  &__title {
    color: $color_text;
    margin-bottom: 5rem;
    align-self: flex-start;
    @include respond(small) {
      font-size: 2.4rem;
    }
  }

  &__main-container {
    width: 100%;
    margin-bottom: 2rem;
    @include respond(large) {
      display: none;
    }
  }

  &__cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin-bottom: 7.6rem;
    @include respond(large) {
      grid-template-columns: 1fr 1fr;
      row-gap: 4rem;
    }
    @include respond(medium) {
      grid-template-columns: 1fr;
      margin-bottom: 4rem;
    }
  }

  &__cta {
    margin: auto;
  }

  & .article-card:first-child {
    display: none;
    @include respond(large) {
      display: grid;
    }
  }

  & .article-card-wide {
    display: grid;
    @include respond(large) {
      display: none;
    }
  }
}
