.section-slider {
    display: grid;
    @include grid-template-columns-main;
    grid-column: 1 / 4;
    padding: 8rem 0 10rem 0;
    background-color: $color-main-1_light;
    grid-template-rows: min-content 1fr;
    @include respond(medium){
        padding: 8rem 0 8rem 0;
    }
    @include respond(small){
        padding: 6rem 0 6rem 0;
    }
    
    &__top {
        grid-column: content-start / content-end;
        grid-row: 1 / 2;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        align-content: center;
        align-items: center;
    }

    &__slider {
        grid-row: 2 / 3;
        grid-column: full-start / full-end;
        overflow: hidden;
    }

    &__title {
        font-size: 3.6rem;
        color: $color-text;
        margin-bottom: 0;
        @include respond(small){
            font-size: 2.4rem;
        }
    }

    &__controls {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;

        &__next,
        &__previous{
            background-color: $color-dark-grey;
            color: $color_lightest_grey;
            &:disabled {
                background-color:  $color_lightest_grey;
                color: $color_dark_grey;
            }
            &:not(:disabled):hover{
                background-color:  $color_main_2;
            }
            &:not(:disabled):active{
                background-color:  $color_main_2_selected;
            }
        }

        &__previous{
            margin-right: 0.8rem;
        }
    }

    & .tns-item:first{
        margin-left: 1rem;
    }

}