.section-support{
    grid-column: 1 / 4;
    background-color: $color_lightest_grey;
    display: grid;
    @include grid-template-columns-main;

    &__container{
        @include standard-section-padding;
        grid-column: 2 / 3;
    }

    &__cards-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        @include respond(largest) {
            grid-template-columns: 1fr;
            row-gap: 4.7rem;
            column-gap: 0;
        } 
    }

    &__title{
        margin-bottom: 6.4rem;
        color: $color_text;
        @include respond(small){
            font-size: 2.4rem;
        }
    }

    &__bottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
        margin-top: 8rem;
        align-items: center;
        @include respond(large){
            grid-template-columns: 1fr;
        }
    }

    &__text{
        font-size: 1.8rem;
        color: $color_text;
        font-weight: 300;
        line-height: 1.5;
        @include respond(large){
            margin-bottom: 2rem;
        }
    }

    &__buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        margin: auto;
        @include respond(large){
            max-width: 60rem;
        }
        @include respond(small){
            grid-template-columns: 1fr;
        }
    }

    &__button:not(:last-child){
        @include respond(small){
            margin-bottom: 2rem;
        }
    }
}